.qr-card {
  background-color: red;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  corner-shape: squircle;
}

.qr-title {
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.qr-canvas {
  border-radius: 12px;
  overflow: hidden;
}

.qr-controls button {
  border-radius: 8px;
}
