@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes checkmark-pop {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    55% {
        opacity: 0;
        transform: scale(1.5) rotate(-5deg);
    }
    65% {
        opacity: 1;
        transform: scale(2) rotate(5deg);
    }
    85% {
        opacity: 1;
        transform: scale(2) rotate(8deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

.animate-checkmark-pop {
    animation: checkmark-pop 1150ms ease-in;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        /* transform: scale(1); */
    }
    100% {
        opacity: 0;
        /* transform: scale(1.5); */
    }
}

.animate-fade-out {
    animation: fade-out 250ms ease-in-out forwards;
}

.animate-fade-out-delayed {
    animation: fade-out 150ms ease-in-out forwards;
    animation-delay: 1250ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-text {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animate-fade-in {
    animation: fade-in 150ms ease-in-out forwards;
}

.animate-fade-out-text {
    animation: fade-out-text 150ms ease-in-out forwards;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.animate-gradient-move {
    background-size: 300% 100%;
    animation: gradient-move 1500ms linear;
}
